@using UkupholisaHealthcare.Library.Models
@{
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
@model Treatment
@{
    <div class="container">
        <h1 class="text-center">Treatment Details</h1>
        <hr>
        <h2>Treatment Name</h2>
        <p>@Model.TreatmentName</p>
        <h2>Treatment Description</h2>
        <p>@Model.Description</p>
        <div class="row justify-content-center mt-3">
            <a class="col-6 btn btn-outline-info" asp-action="Index">Back to List</a>
        </div>
    </div>
}
