@model FamilyPolicyViewModel
@{
    <div class="container">
        <h1>Mr/Ms @Model.family.FamilyName Choose a policy for your family</h1>
        <hr>
        <form>
            <div class="row justify-content-center mt-3">
                <a class="col-6 btn btn-outline-danger" asp-action="Index"><i class="fa-solid fa-phone"></i>End Call</a>
            </div>
        </form>
    </div>
}
