@model UkupholisaHealthcare.Library.Models.Policy
@{
    ViewData["Title"] = "CreateView";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
<h1>Create Policy</h1>
<div class="row">
    <a class="col-6 btn btn-outline-info" asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyName" class="control-label"></label>
                <input asp-for="PolicyName" class="form-control" />
                <span asp-validation-for="PolicyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyMonthlyPrice" class="control-label"></label>
                <input asp-for="PolicyMonthlyPrice" class="form-control" />
                <span asp-validation-for="PolicyMonthlyPrice" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="IsApproved" class="control-label"></label>
                @Html.CheckBox("IsApproved")
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                @Html.CheckBox("IsActive")
            </div>
            <div class="row form-group mt-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
